.home-main-cont {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.homeHero-cont {
  height: 550px;
  background-size: 100% 100%;
}
.home-hero-text-main {
  width: 40%;
  padding: 6.771vw 0vw 0vw 10.417vw;
}
.home-hero-text-cont {
  width: 18.854vw;
}
.home-hero-child-img {
  width: 60%;
}
.furr-img-cont {
  width: 235px;
  height: 337px;
}
.furr-img-cont > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.homeFav-h1 {
  width: 390px;
  text-align: center;
}
.homeFav-menu-main {
  padding: 46px 13.646vw 20px 13.646vw;
}
.homeFav-productList-main {
  padding: 20px 13.646vw 40px 13.646vw;
}

.homeFav-product1 {
  width: 28.438vw;
  height: 546px;
}
.homeFav-product2 {
  width: 21.094vw;
  height: 546px;
  background-color: #fdc161;
}
.homeFav-product3 {
  width: 21.094vw;
  height: 546px;
}
.homeFav1-Text-cont > h2 {
  width: 246px;
}
.homeFav3-img-cont {
  width: 11.198vw;
  height: 307px;
}
.homeFav-product2-heading {
  width: 9.167vw;
}
.homeFav-product2-para {
  width: 11.667vw;
}
.hoomeFav-product3-child1 {
  height: 263px;
}
.hoomeFav-product3-child2 {
  height: 263px;
}
.homeFav-product3-child1 {
  width: 50%;
}
.homeFav-product3-child1 {
  width: 50%;
}
.homeFav3-Text-cont {
  width: 9.167vw;
}
.homeFav-product3-child2 > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
@media screen and (max-width: 1280px) {
  .homeHero-cont {
    height: 300px;
  }
  .home-hero-text-cont {
    width: 42.854vw;
  }
  .homeFav-menu-main {
    padding: 46px 4vw 40px 4vw;
  }
}

@media screen and (max-width: 768px) {
  .homeHero-cont {
    height: 284px;
  }
  .home-hero-text-main {
    width: 40%;
    padding: 2.771vw 0vw 0vw 10.417vw;
  }
  .homeFav-menu-main {
    padding: 46px 4vw 40px 4vw;
  }
}

@media screen and (max-width: 560px) {
  .homeFav-h1 {
    width: 357px;
    text-align: center;
  }
  .homeFav-menu-main {
    padding: 10px 0vw 10px 0vw;
  }
}
