.home-main-cont {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.homeHero-cont {
  height: 550px;
  background-size: 100% 100%;
}
.home-hero-text-main {
  width: 40%;
  padding: 6.771vw 0vw 0vw 10.417vw;
}
.home-hero-text-cont {
  width: 18.854vw;
}
.home-hero-child-img {
  width: 60%;
}
.furr-img-cont {
  width: 235px;
  height: 337px;
}
.furr-img-cont > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.homeFav-h1 {
  width: 390px;
  text-align: center;
}
.homeFav-menu-main {
  padding: 46px 13.646vw 20px 13.646vw;
}
.homeFav-productList-main {
  padding: 20px 13.646vw 40px 13.646vw;
}

.homeFav-product1 {
  width: 28.438vw;
  height: 546px;
}
.homeFav-product2 {
  width: 21.094vw;
  height: 546px;
  background-color: #fdc161;
}
.homeFav-product3 {
  width: 21.094vw;
  height: 546px;
}
.homeFav1-Text-cont > h2 {
  width: 246px;
}
.homeFav3-img-cont {
  width: 11.198vw;
  height: 307px;
}
.homeFav3-img-cont > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.homeFav-product2-heading {
  width: 9.167vw;
}
.homeFav-product2-para {
  width: 11.667vw;
}
.hoomeFav-product3-child1 {
  height: 263px;
}
.hoomeFav-product3-child2 {
  height: 263px;
}
.homeFav-product3-child1 {
  width: 50%;
}
.homeFav-product3-child1 {
  width: 50%;
}
.homeFav3-Text-cont {
  width: 9.167vw;
}
.homeFav-product3-child2 > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.homeOrga-main {
  padding: 80px 6.25vw 80px 6.25vw;
}

.homeOrg-right {
  width: 50%;
  height: 525px;
}
.homeOrg-left {
  width: 50%;
  height: 525px;
}
.imgContOne {
  height: 535px;
}
.imgContOne > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.homeOrgHeading {
  width: 19.746vw;
}
.homeOrgText {
  width: 19.746vw;
}

.homePetneed-child1 {
  display: flex;
  justify-content: space-between;
  padding: 0px 13.646vw 0px 13.646vw;
}
.homePetneed-child2 {
  height: 572px;
  margin: 62px 0px 0px 0px;
}
.homePetneed-main {
  border: 1px solid #000000;
}
.homeBestSelling-container {
  padding: 30px 6.25vw;
}
.homeBestSelling-main {
}
.bestSelling-card-main {
  width: 260px;
  height: 412px;
}
.bestSelling-card-img-cont {
  width: 217px;
  height: 234px;
}
.bestSelling-card-child-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.bestSelling-card-img-cont > img {
  width: 100%;
  height: 100%;
}
.homeBestSelling-main::-webkit-scrollbar {
  width: 2px !important;
}

.homeBestSelling-main::-webkit-scrollbar-thumb {
  background-color: #16bac6;
  border-radius: 6px;
}

.homeBestSelling-main::-webkit-scrollbar-track {
  background-color: transparent;
}

.homeBestSelling-main {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  overflow: auto;
  transition: scrollbar-color 0.5s;
}

.homeBestSelling-main:hover {
  scrollbar-color: #ccc transparent;
}
@media screen and (max-width: 1280px) {
  .homeHero-cont {
    height: 300px;
  }
  .home-hero-text-cont {
    width: 42.854vw;
  }
  .homeFav-menu-main {
    padding: 46px 4vw 40px 4vw;
  }
  .homeFav-product1 {
    width: 100%;
    height: 546px;
  }
  .homeFav-product2 {
    width: 100%;
    height: 546px;
    background-color: #fdc161;
  }
  .homeFav-product3 {
    width: 100%;
    height: 546px;
  }
  .homeFav3-Text-cont {
    width: 100%;
  }
  .homeFav-product2-heading {
    width: 100%;
  }
  .homeFav-product2-para {
    width: 100%;
  }
  .homeFav3-img-cont {
    width: 200px;
    height: 163px;
  }
  .homeOrgHeading {
    width: 48.746vw;
  }
  .homeOrga-main {
    padding: 80px 0.25vw 80px 0.25vw;
  }
  .homeOrgText {
    width: 47.746vw;
  }
}
@media screen and (max-width: 1024px) {
  .homeOrga-main {
    padding: 80px 0.25vw 80px 0.25vw;
  }
  .homeOrgHeading {
    width: 48.746vw;
  }
  .homeOrgText {
    width: 47.746vw;
  }
  .homeOrga-main {
    padding: 10px 0.25vw 10px 0.25vw;
  }
  .homeOrgHeading {
    width: 69.746vw;
  }
  .homeOrgText {
    width: 69.746vw;
  }
  .imgContOne {
    height: 266px;
    width: 266px;
  }
  .homeOrg-left {
    width: 100%;
    height: 300px;
  }
  .homeOrg-right {
    width: 100%;
    height: 280px;
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .homeHero-cont {
    height: 284px;
  }
  .home-hero-text-main {
    width: 40%;
    padding: 2.771vw 0vw 0vw 10.417vw;
  }
  .homeFav-menu-main {
    padding: 46px 4vw 40px 4vw;
  }
  .homeFav-product1 {
    width: 100%;
    height: 320px;
  }
  .homeFav-product2 {
    width: 100%;
    height: 320px;
    background-color: #fdc161;
  }
  .homeFav-product3 {
    width: 100%;
    height: 546px;
  }
  .homeFav3-Text-cont {
    width: 100%;
  }
  .homeFav-product2-heading {
    width: 100%;
  }
  .homeFav-product2-para {
    width: 100%;
  }
  .homeFav3-img-cont {
    width: 200px;
    height: 163px;
  }
  .homeFav3-img-cont {
    width: 200px;
    height: 163px;
  }
  .homeOrga-main {
    padding: 80px 0.25vw 80px 0.25vw;
  }
  .homeOrgHeading {
    width: 48.746vw;
  }
  .homeOrgText {
    width: 47.746vw;
  }
  .homeOrga-main {
    padding: 10px 0.25vw 10px 0.25vw;
  }
  .homeOrgHeading {
    width: 69.746vw;
  }
  .homeOrgText {
    width: 69.746vw;
  }
  .imgContOne {
    height: 266px;
    width: 266px;
  }
  .homeOrg-left {
    width: 100%;
    height: 300px;
  }
  .homeOrg-right {
    width: 100%;
    height: 280px;
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 560px) {
  .homeFav-h1 {
    width: 357px;
    text-align: center;
  }
  .homeFav-menu-main {
    padding: 10px 0vw 10px 0vw;
  }
  .homeFav-product1 {
    width: 100%;
    height: 313px;
  }
  .homeFav-productList-main {
    padding: 20px 2.646vw 40px 2.646vw;
  }
  .homeFav-product2 {
    width: 100%;
    height: 330px;
    background-color: #fdc161;
  }
  .homeFav-product3 {
    width: 100%;
    height: 546px;
  }
  .homeFav3-Text-cont {
    width: 100%;
  }
  .homeFav-product2-heading {
    width: 100%;
  }
  .homeFav-product2-para {
    width: 100%;
  }
  .homeFav3-img-cont {
    width: 200px;
    height: 163px;
  }
  .homeOrga-main {
    padding: 10px 0.25vw 10px 0.25vw;
  }
  .homeOrgHeading {
    width: 91.746vw;
  }
  .homeOrgText {
    width: 90.746vw;
  }
  .imgContOne {
    height: 266px;
    width: 266px;
  }
  .homeOrg-left {
    width: 100%;
    height: 300px;
  }
  .homeOrg-right {
    width: 100%;
    height: 280px;
    display: flex;
    justify-content: center;
  }
  .home-hero-text-cont {
    width: 76.854vw;
  }
  .homeHero-cont {
    height: 235px;
  }
  .home-hero-text-main {
    width: 40%;
    padding: 2.771vw 0vw 0vw 3.417vw;
  }
}
