.petFood-logo-cont > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.header-left {
  width: 50%;
}

.header-right {
  width: 50%;
}

.inputContainer > input {
  width: 100%;
}

.headerMobile-logo-cont {
  width: 125px;
  height: 37px;
}
.searchBar-container {
  padding: 10px 10px;
}
