.footerMain-cont {
  height: 460px;
}
.footerContent-wrapper {
  height: 400px;
  padding: 0px 6.25vw;
}

.footerChild1-cont1 {
  width: 16.667vw;
}

.footerImg-cont {
  width: 160px;
  height: 100px;
}
.footerImg-cont > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.footerChild1-cont3 {
  width: 168px;
}
